<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TDV.FileSystemWatcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="exclusion" value=".xls, .xlsx, .db, .xml, .rels, .bin"/>
    <add key="sheets" value="RESULTATS,RESULTATS,RESULTATS,SCORES,SCORES,SCORES,SCORES" />
    <add key="screeenshot" value="B4:AB10,B13:AB20,B23:AC30,A4:B35,G4:L29,M4:R35,S4:X28" />
  </appSettings>
  <userSettings>
    <TDV.FileSystemWatcher.Properties.Settings>
      <setting name="VlcPath" serializeAs="String">
        <value />
      </setting>
      <setting name="DestinationFolderPath" serializeAs="String">
        <value />
      </setting>
      <setting name="SourceFolderPath" serializeAs="String">
        <value />
      </setting>
      <setting name="FileExtensionExcluded" serializeAs="String">
        <value />
      </setting>
    </TDV.FileSystemWatcher.Properties.Settings>
  </userSettings>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="FileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="TDV.FileSystemWatcher.log" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
